logs
project/project
project/target
target
node_modules
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
public/.DS_Store
public/javascripts/bower_components
