<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="glyphicon glyphicon-arrow-left left-positioned text-primary animate-hide"
               aria-hidden="true" ng-click="mainCtrl.reset()" ng-show="!mainCtrl.editing && !mainCtrl.loading"></a>
            <h2 class="section-heading">Simulación</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade top-positioned" role="alert" ng-class="mainCtrl.error ? 'in' : ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>Error!</strong> Asegurate de completar los campos requeridos.
</div>

<div class="row text-center animate-hide" ng-show="mainCtrl.loading">
    <img src="/assets/images/hex-loader.gif" >
</div>

<div class="container animate-hide" ng-show="mainCtrl.editing" name="simForm" ng-class="!mainCtrl.editing ? 'no-transition' : 'delay-transition'">
    <form ng-submit="mainCtrl.submit()" ng-disabled="simForm.$invalid">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="priority"> Prioridad</label>
                <select class="form-control" id="priority" ng-model="mainCtrl.simulation.priority" ng-change="mainCtrl.selectSim()">
                    <option value="Total">Absoluta</option>
                    <option value="Relative">Relativa</option>
                    <option value="None">Ninguna</option>
                </select>
            </div>
            <div class="form-group col-sm-4" ng-show="mainCtrl.simulation.priority != 'None'">
                <label for="tolerance"> Tolerancia</label>
                <select class="form-control" id="tolerance" ng-model="mainCtrl.simulation.tolerance" ng-change="mainCtrl.selectSim()">
                    <option value="Tolerant">Sí (Tolerancia)</option>
                    <option value="Intolerant">No (Intolerancia)</option>
                </select>
            </div>
            <div class="form-group col-sm-4" ng-show="mainCtrl.simulation.tolerance == 'Tolerant'">
                <label for="reanudacion"> Reanudación</label>
                <select class="form-control" id="reanudacion" ng-model="mainCtrl.simulation.resumption" ng-change="mainCtrl.selectSim()">
                    <option value="Resumption">Sí (Reanudación)</option>
                    <option value="Reinitiation">No (Reiniciación)</option>
                </select>
            </div>
            <div class="form-group col-sm-4" ng-show="mainCtrl.simulation.tolerance == 'Intolerant'">
                <label for="intolerance"> Intolerancia</label>
                <select class="form-control" id="intolerance" ng-model="mainCtrl.simulation.intolerance" ng-change="mainCtrl.selectSim()">
                    <option value="Partial">Parcial</option>
                    <option value="Total">Total</option>
                </select>
            </div>
            </div>

        <!--<pre>{{mainCtrl.simulation | json}}</pre>-->
        <div class="row">
            <div class="form-group col-sm-6 has-error">
                <label for="time">Tiempo</label>
                <!--<input type="number" class="form-control" id="time" placeholder="Time" ng-model="mainCtrl.formData.simData.time">-->
                <rzslider id="time"
                        rz-slider-floor="0"
                        rz-slider-ceil="mainCtrl.formData.simData.withEvents ? 20 : mainCtrl.simulation.maxTime"
                        rz-slider-model="mainCtrl.formData.simData.time"></rzslider>
                <!--<p class="help-block small-help" ng-show="mainCtrl.formData.simData.time > 50000">May take up to 5 min.</p>-->

            </div>

            <div class="form-group col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="mainCtrl.formData.simData.withEvents"
                                ng-change="mainCtrl.eventsToggle()">
                        Mostrar tabla y gráficos </label>
                    <p class="help-block small-help">Muestra eventos, gráficos y estadísticas. Requiere tiempo < 20.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="cliA">Clientes <strong>A</strong> Por Hora</label>
                <input type="number" step="any" class="form-control" id="cliA" placeholder="#" ng-model="mainCtrl.formData.simData.clientsHourA" ng-required="true" min="0">
            </div>
            <div class="form-group col-sm-6">
                <label for="cliB">Clientes <strong>B</strong> Por Hora</label>
                <input type="number" step="any" class="form-control" id="cliB" placeholder="#" ng-model="mainCtrl.formData.simData.clientsHourB" ng-required="true" min="0">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="muA">Atención de <strong>A</strong> Por Hora</label>
                <input type="number" step="any" class="form-control" id="muA" placeholder="#" ng-model="mainCtrl.formData.simData.muA" ng-required="true" min="0">
            </div>
            <div class="form-group col-sm-6">
                <label for="muB">Atención de <strong>B</strong> Por Hora</label>
                <input type="number" step="any" class="form-control" id="muB" placeholder="#" ng-model="mainCtrl.formData.simData.muB" ng-required="true" min="0">
            </div>
        </div>

        <!--<a class="btn" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="false" aria-controls="collapseExample"> Advanced Options </a>-->

        <div class="row text-center">
            <button type="submit" class="btn btn-default btn-xl" ng-disabled="mainCtrl.disableSubmit">Aceptar</button>
        </div>
    </form>
    <p> Simulación por :  {{mainCtrl.simulation.name}} </p>
</div>

<div class="container animate-hide" ng-show="!mainCtrl.editing && !mainCtrl.loading"  ng-class="!mainCtrl.editing ? 'delay-transition' : 'no-transition' " >
    <div class="row">

        <!--mainCtrl.items.results-->
        <div class="col-sm-4 text-center">
            <h2 class="section-heading text-primary">A</h2>

            <div class="service-box">
                <h3>{{ mainCtrl.items.results.acustomers}}</h3>
                <p class="text-muted">Total</p>
            </div>

            <div class="service-box">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width:{{mainCtrl.items.results.ha | percentage:3}}">
                        {{mainCtrl.items.results.ha | percentage:3}}
                    </div>
                </div>
                <p class="text-muted">Porcentaje Atención</p>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.lcA | number:8}}</h3>
                    <p class="text-muted">Longitud Cola</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.la | number:8}}</h3>
                    <p class="text-muted">Longitud Sistema</p>
                </div>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.wcA | number:8}}</h3>
                    <p class="text-muted">Tiempo Espera</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.wa | number:8}}</h3>
                    <p class="text-muted">Tiempo Permanencia</p>
                </div>
            </div>
            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.canalOcpuadoPorClienteA | number:8}}</h3>
                    <p class="text-muted">Tiempo Canal Ocupado</p>
                </div>
            </div>


        </div>

        <div class="col-sm-4 text-center">
            <h2 class="section-heading text-primary">B</h2>

            <div class="service-box">
                <h3>{{ mainCtrl.items.results.bcustomers}}</h3>
                <p class="text-muted">Total</p>
            </div>

            <div class="service-box">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width:{{mainCtrl.items.results.hb | percentage:3}}">
                        {{mainCtrl.items.results.hb | percentage:3}}
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width:{{mainCtrl.items.results.porcentajeBNoIngresa | percentage:3}}">
                        {{mainCtrl.items.results.porcentajeBNoIngresa | percentage:3}}
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width:{{mainCtrl.items.results.porcentajeBAbandono | percentage:3}}">
                        {{mainCtrl.items.results.porcentajeBAbandono | percentage:3}}
                    </div>
                </div>
                <p class="text-muted">Porcentaje <span class="text-success">Atención</span>, <span class="text-warning">No Ingreso</span>, <span class="text-danger">Abandono</span></p>
            </div>
            <div class="service-box" ng-show="mainCtrl.items.results.porcentajeBEnjaulado > 0">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width:{{mainCtrl.items.results.porcentajeBEnjaulado | percentage:3}}">
                        {{mainCtrl.items.results.porcentajeBEnjaulado | percentage:3}}
                    </div>
                </div>
                <p class="text-muted">Porcentaje <span class="text-danger">Desplazados</span></p>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.lcB | number:8}}</h3>
                    <p class="text-muted">Longitud Cola</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.lb | number:8}}</h3>
                    <p class="text-muted">Longitud Sistema</p>
                </div>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.wcB | number:8}}</h3>
                    <p class="text-muted">Tiempo Espera</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.wb | number:8}}</h3>
                    <p class="text-muted">Tiempo Permanencia</p>
                </div>
            </div>
            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.canalOcpuadoPorClienteB | number:8}}</h3>
                    <p class="text-muted">Tiempo Canal Ocupado</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <h2 class="section-heading text-primary">Total </h2>

            <div class="service-box">
                <h3>{{ mainCtrl.items.results.acustomers + mainCtrl.items.results.bcustomers}}</h3>
                <p class="text-muted">Total Customers</p>
            </div>

            <div class="service-box">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width:{{mainCtrl.items.results.h | percentage:3}}">
                        {{mainCtrl.items.results.h | percentage:3}}
                    </div>
                </div>
                <p class="text-muted">Porcentaje Atención</p>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.lc | number:8}}</h3>
                    <p class="text-muted">Longitud Cola</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.l | number:8}}</h3>
                    <p class="text-muted">Longitud Sistema</p>
                </div>
            </div>

            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.wc | number:8}}</h3>
                    <p class="text-muted">Tiempo Espera</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.w | number:8}}</h3>
                    <p class="text-muted">Tiempo Permanencia</p>
                </div>
            </div>
            <div class="service-box">
                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.canalOcupado | number:8}}</h3>
                    <p class="text-muted">Tiempo Canal Ocupado</p>
                </div>

                <div class="col-md-6">
                    <h3>{{ mainCtrl.items.results.canalLibre | number:8}}</h3>
                    <p class="text-muted">Tiempo Canal Libre</p>
                </div>
            </div>


        </div>


    </div>

    <div ng-show="mainCtrl.formData.simData.withEvents">
        <div class="row">
            <flot dataset="mainCtrl.chartData" options="mainCtrl.myChartOptions" height="300px" width="100%"></flot>
        </div>

        <div class="row">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Ver eventos</button>
            <div class="collapse" id="collapseExample">
                <!--<pre>{{mainCtrl.items.events | json}}</pre>-->
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>t</th>
                        <th>Evento</th>
                        <th>Tipo de cliente</th>
                        <th>Número de cliente</th>
                        <th>Largo de la cola</th>
                        <th>Largo de cola de clientes A</th>
                        <th>Estado</th>
                        <th>W</th>
                        <th>Wc</th>
                        <th>Comentario</th>
                        <th>delta Tiempo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in mainCtrl.items.events">
                        <td>{{event.initTime}}</td>
                        <td>{{event.type}}</td>
                        <td>{{event.customer.type}}</td>
                        <td>{{event.customer.customerNumber}}</td>
                        <td>{{event.queueLength}}</td>
                        <td>{{event.queueALength}}</td>
                        <td>{{event.attentionChanelStatus}}</td>
                        <td>{{event.type == 'SALIDA' ? event.customer.permanence : ""}}</td>
                        <td>{{event.type == 'SALIDA' ? event.customer.waitTime : ""}}</td>
                        <td>{{event.comment}}</td>
                        <td>{{event.deltaTime}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
