<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="glyphicon glyphicon-arrow-left left-positioned text-primary animate-hide"
               aria-hidden="true" ng-click="mainCtrl.reset()" ng-show="!mainCtrl.editing && !mainCtrl.loading"></a>
            <h2 class="section-heading">Simulation</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade top-positioned" role="alert" ng-class="mainCtrl.error ? 'in' : ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="row text-center animate-hide" ng-show="mainCtrl.loading">
    <img src="/assets/images/hex-loader.gif" >
</div>

<div class="container animate-hide" ng-show="mainCtrl.editing" name="simForm" ng-class="!mainCtrl.editing ? 'no-transition' : 'delay-transition'">
    <form ng-submit="mainCtrl.submit()" ng-disabled="simForm.$invalid">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="priority"> Priority</label>
                <select class="form-control" id="priority">
                    <option>Relative</option>
                    <option>Total</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="tolerance"> Tolerance</label>
                <select class="form-control" id="tolerance">
                    <option>Tolerant</option>
                    <option>Intolerant</option>
                </select>
            </div>
            <div class="form-group col-sm-4" ng-show="mainCtrl.simulation.tolerance == 'Tolerant'">
                <label for="reanudacion"> Resumption</label>
                <select class="form-control" id="reanudacion" >
                    <option>Resumption</option>
                    <option>Reinitiation</option>
                </select>
            </div>
            <div class="form-group col-sm-4" ng-show="mainCtrl.simulation.tolerance == 'Intolerant'">
                <label for="intolerance"> Intolerance</label>
                <select class="form-control" id="intolerance" >
                    <option>Partial</option>
                    <option>Total</option>
                </select>
            </div>
            </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="cliB">Time</label>
                <input type="number" class="form-control" id="time" placeholder="Time" ng-model="mainCtrl.formData.simData.time">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="cliA">Clients <strong>A</strong> Per Hour</label>
                <input type="number" class="form-control" id="cliA" placeholder="Rate" ng-model="mainCtrl.formData.simData.clientsHourA">
            </div>
            <div class="form-group col-sm-6">
                <label for="cliB">Clients <strong>B</strong> Per Hour</label>
                <input type="number" class="form-control" id="cliB" placeholder="Rate" ng-model="mainCtrl.formData.simData.clientsHourB">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="muA">Attention <strong>A</strong> Per Hour</label>
                <input type="number" class="form-control" id="muA" placeholder="Rate" ng-model="mainCtrl.formData.simData.muA">
            </div>
            <div class="form-group col-sm-6">
                <label for="muB">Attention <strong>B</strong> Per Hour</label>
                <input type="number" class="form-control" id="muB" placeholder="Rate" ng-model="mainCtrl.formData.simData.muB">
            </div>
        </div>

        <a class="btn" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="false" aria-controls="collapseExample"> Advanced Options </a>

        <div class="collapse" id="advanced">
                <div class="checkbox">
                    <label> <input type="checkbox"> Show Table </label>
                </div>
                <div class="checkbox">
                    <label> <input type="checkbox"> Show Graphs </label>
                </div>

            <pre> {{mainCtrl.formData | json}}</pre>

        </div>




        <div class="row text-center">
            <input type="submit" class="btn btn-default btn-xl" value="Submit"/>
        </div>
    </form>
    <p> Simulation by :  {{mainCtrl.simulation.name}} </p>
</div>

<div class="container animate-hide" ng-show="!mainCtrl.editing && !mainCtrl.loading"  ng-class="!mainCtrl.editing ? 'delay-transition' : 'no-transition' " >
    <div class="row">
        <div class="col-md-3 col-xs-4 text-center" ng-repeat="(key, value) in mainCtrl.items.results">
            <div class="service-box">
                <i class="glyphicon glyphicon-ok text-primary"></i>
                <h3>{{value}}</h3>
                <p class="text-muted">{{key}}</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div id="chart1"></div>
        </div>

        <div class="col-sm-4">
            <div id="chart2"></div>
        </div>

        <div class="col-sm-4">
            <div id="chart3"></div>
        </div>

    </div>






    <div class="row">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> View Events</button>
        <div class="collapse" id="collapseExample">
            <!--<pre>{{mainCtrl.items.events | json}}</pre>-->
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>t</th>
                    <th>Event</th>
                    <th>Client Type</th>
                    <th>Client Number</th>
                    <th>Queue Size</th>
                    <th>Status</th>
                    <th>W</th>
                    <th>Comment</th>
                    <th>deltaTime</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in mainCtrl.items.events">
                    <td>{{event.initTime}}</td>
                    <td>{{event.type}}</td>
                    <td>{{event.customer.type}}</td>
                    <td>{{event.customer.customerNumber}}</td>
                    <td>{{event.queueLength}}</td>
                    <td>{{event.attentionChanelStatus}}</td>
                    <td>{{event.type == 'DEPARTURE' ? event.customer.permanence : ""}}</td>
                    <td>{{event.comment}}</td>
                    <td>{{event.deltaTime}}</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
