.left-positioned {
    float: left;
    font-size: 2em;
    margin-right: -2em;
}
.left-positioned:hover{
    text-decoration: none;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
#simulation {
    min-height: 97vh;
    overflow:hidden;
    position: relative;
}

.animate-hide {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    opacity: 1;
}

.animate-hide.ng-hide {
    opacity: 0;
}

.delay-transition {
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;
}

.no-transition { transition: none; }

.top-positioned {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40vw;
    margin-left: -20vw;
    text-align: center;
}

/*slider style*/

rzslider span.bar {
    background-color: rgb(190, 190, 190) !important;
}

rzslider span.bubble.limit {
    color: gray !important;
    padding-top:10px;
}

rzslider span.bubble {
    color: black !important;
}

rzslider span.pointer:hover:after {
    background-color: #f05f40 !important;
}

.small-help { font-size: 13px; }


/*Simplex style*/

section#simplex input { color: gray; }

#simplex select {
    margin-left : 5px;
    margin-right : 5px;
    color: gray;
}

.form-control-2, .inputError { width: 3em; }

p#funcional, #panelDeRestricciones > p{
    display: flex;
    justify-content: center ;
    align-content: center;
    align-items: center ;
}

.flex-me {
    display: flex;
    justify-content: center;
}

.inputError {
    background-color: rgb(199, 199, 199);
}

table#tablaDeSimplex {
    width: 100%;
}

#panelDeRestricciones p > * , #funcional > * {
    padding: 0 10px;
}

.flex-me :last-child {
    margin-left: 15px;
}

.flex-me input {
    margin-right: 5px;
}

.b-div {
    float: right;
}

.b-div button{
    background-color: rgb(249, 138, 138);
}
