<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Investigacion Operativa</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
            <!-- build:css(.) styles/vendor.css -->
            <!-- bower:css -->
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/bower_components/bootstrap/dist/css/bootstrap.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("theme/css/creative.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("theme/css/animate.min.css")" />
            <!-- endbower -->
            <!-- endbuild -->
            <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/bower_components/angularjs-slider/dist/rzslider.min.css")" />
            <!-- endbuild -->
    </head>
    <body id="page-top" ng-app="ngSimulation">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Investigacion Operativa</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#simplex">Simplex</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#simulation">Simulation</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Simplex & Simulation Strategies</h1>
                    <hr>
                    <p>Final Investigacion Operativa: Curso 2014</p>
                    <a href="#simplex" class="btn btn-primary btn-xl page-scroll">Simplex</a>
                    <a href="#simulation" class="btn btn-primary btn-xl page-scroll">Simulation</a>
                </div>
            </div>
        </header>

        <section class="bg-primary" id="simplex">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Simplex!</h2>
                        <hr class="light">
                        <p class="text-faded">Explicacion del simplex</p>
                        <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                    </div>
                </div>


                <div id="panels">

                    <div id="panelPaso1">
                        <h3>Seleccionar Cantidad</h3>
                        <form accept-charset="UTF-8" action="/players" class="form-horizontal" id="new_player" method="post" style="display: inline-block;">
                            <div id="a-div">
                                <input name="utf8" type="hidden" value="✓">
                                <input name="authenticity_token" type="hidden" value="CMXrI0MGkDWKu9011hx6zN5orQYzuoee7760PGr78YA=">
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="variables" style="margin-right:2px;"> Variables: </label>
                                <div class="col-md-4">
                                    <input autofocus="autofocus" class="form-control number" id="variables" required="required" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="restricciones" style="margin-right:2px;">Restricciones: </label>
                                <div class="col-md-4">
                                    <input autofocus="autofocus" class="form-control number" id="restricciones" required="required" type="text">
                                </div>
                            </div>
                        </form>
                        <div class="b-div">
                            <button type="button" class="btn btn-success" onclick="nextStep()">></button>
                        </div>
                    </div>

                    <div id="panelPaso2">
                        <h3>Definir Objetivo</h3>
                        <div id="panelDeFuncional">
                            <p id="funcional">
            </p>
                        </div>
                        <p class="flex-me">
                            <input type="radio" name="obj" value="MAX" id="max" checked="true">  MAX
                            <input type="radio" name="obj" value="MIN" id="min">  MIN
                        </p>
                        <h3>Definir Restricciones</h3>
                        <div id="panelDeRestricciones">
        </div>
                        </br>
                        <div>
                            <div class="b-div" style="display: inline-block; float: left;">
                                <button type="button" class="btn btn-success" onclick="previousStep()"><</button>
                            </div>
                            <div class="b-div">
                                <button type="button" class="btn btn-success" onclick="nextStep()">></button>
                            </div>
                        </div>
                    </div>

                    <div id="panelEstandar">
                        <div id="panelDeFuncionalEstandar">
                            <h3>Funcional</h3>
                            <p id="funcionalEstandar">
            </p>
                        </div>
                        <h3>Restricciones Estandar</h3>
                        <div id="panelDeRestriccionesEstandar">
        </div>
                        <h3>Condiciones</h3>
                        <div id="condiciones">
                            <p>Se asumen variables reales y no negativas</p>
                            <p id="valorM"></p>
                        </div>
                    </div>

                    <div id="panelPaso3">
                        <h3><span id="iterationNumber"></span></h3>
                        <div id="panelDeTabla">
        </div>
                        <div id="loadingPanel">
                            <p>
                                <img id="loadingGif" src='"""),_display_(Seq[Any](/*103.44*/routes/*103.50*/.Assets.at("images/ajax-loader.gif"))),format.raw/*103.86*/("""'>
                            </p>
                        </div>
                        </br>
                        <div>
                            <div id="prev-1" class="b-div" style="display: none; float: left">
                                <button type="button" class="btn btn-success" onclick="sendMessage('previous')"><</button>
                            </div>
                            <div class="b-div">
                                <button type="button" class="btn btn-success" onclick="sendMessage('next')">></button>
                            </div>
                            <div class="b-div" style="text-align: center">
                                <button type="button" class="btn btn-success" onclick="nextStep()">Resultados</button>
                            </div>
                            <div id="prev-2" style="text-align: center">
                                <button type="button" class="btn btn-default" onclick="previousStep()">Volver a Definición</button>
                            </div>
                        </div>
                    </div>

                    <div id="panelPaso4">
                        <h3>Resultados </h3>
                        <div id="resultados">
        </div>
                        <div id="funcionalPaso4">
        </div>
                        <div id="valorFuncional">
        </div>
                        </br>
                        <div>
                            <div class="b-div" style="display: inline-block; float: left">
                                <button type="button" class="btn btn-success" onclick="previousStep()"><</button>
                            </div>
                            <div class="b-div">
                                <button type="button" class="btn btn-success" onclick="firstStep()">Nuevo Problema</button>
                            </div>
                            <div class="b-div">
                                <button type="button" class="btn btn-default" onclick="previousStep2()">Volver a Definición</button>
                            </div>
                        </div>

                    </div>



                </div>




            </div>
        </section>

        <section id="simulation" ng-view> </section>

        <section  id="about">

            <aside class="bg-dark">
                <div class="container text-center">
                    <div class="call-to-action">
                        <h2>About</h2>
                    </div>
                </div>
            </aside>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Integrantes</h2>
                        <hr class="primary">
                        <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center" ng-repeat="member in mainCtrl.members">
                        <div class="service-box">
                            <i class="glyphicon glyphicon-ok text-primary"></i>
                            <h3>{{member}}</h3>
                            <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- build:js(.) scripts/vendor.js -->
            <!-- bower:js -->
        <script src="@routes.Assets.at("javascripts/bower_components/jquery/dist/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/angular/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/bootstrap/dist/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/angular-route/angular-route.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/angular-animate/angular-animate.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/angular-flot/angular-flot.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bower_components/angularjs-slider/rzslider.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("simplex/javascripts/simplexController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("simplex/javascripts/webSocket.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("simplex/javascripts/smoke.js")" type="text/javascript"></script>

        <!--<script src="javascripts/angular-animate/angular-animate.js"></script>-->
            <!--<script src="javascripts/angular-cookies/angular-cookies.js"></script>-->
            <!--<script src="javascripts/angular-resource/angular-resource.js"></script>-->
            @*<!--<script src="javascripts/angular-route/angular-route.js"></script>-->*@
            <!--<script src="javascripts/angular-sanitize/angular-sanitize.js"></script>-->
            <!--<script src="javascripts/angular-touch/angular-touch.js"></script>-->
            <!-- endbower -->
            <!-- endbuild -->

            <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/flot.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("theme/js/jquery.easing.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("theme/js/jquery.fittext.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("theme/js/creative.js")" type="text/javascript"></script>
            <!-- endbuild -->

        <script type="text/javascript">
    $(function() { initWebSocket("@routes.Application.socket().webSocketURL(request)" )}) ;
</script>
    </body>
</html>
